.nav-bar-title {
  display: flex;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

.error-boundary-container, .not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

#app {
  height: 100%;
  min-height: 100vh;
}